.wrapper {
    position: relative;
    width: 344px;
    height: 612px;
    margin-bottom: 30px;

    &:hover .progress-bar,
    &:hover .volume-bar,
    &:hover .volume-btn,
    &:hover .more {
        display: block;
    }
}
.video {
    border-radius: 16px;
    width: 100%;
    cursor: pointer;
}
.info {
    position: absolute;
    top: 82%;
    width: 100%;
    padding: 0 12px;

    .desc,
    .username,
    .music {
        overflow: hidden;

        cursor: pointer;
        font-size: 1.4rem;
        color: rgba(255, 255, 255, 0.9);
        margin: 8px 0px;
        &:hover {
            text-decoration: underline;
        }
        text-wrap: nowrap;
    }
}
.music-icon {
    padding-right: 5px;
}
.custom-controls {
    .play-btn {
        position: absolute;
        top: 46%;
        left: 48%;
        font-size: 40px;
        background-color: transparent;
        cursor: pointer;
        color: #fff;
    }

    .progress-bar {
        position: absolute;
        bottom: 1px;
        width: 94%;
        border: none;
        outline: none;
        height: 4px;
        left: 10px;
        cursor: pointer;
        border: none;
        outline: none;
        display: none;
    }
    .volume-btn {
        position: absolute;
        top: 15px;
        left: 15px;
        background-color: transparent;
        color: #fff;
        cursor: pointer;
        font-size: 1.7rem;
        display: none;
    }
    .volume-bar {
        cursor: pointer;
        position: absolute;
        top: 22px;
        left: 40px;
        width: 65px;
        height: 3px;
        display: none;
    }
}
.more {
    position: absolute;
    top: 6px;
    left: 85%;
    color: #fff;
    display: none;
    cursor: pointer;
}

//video option
.video-option {
    list-style: none;
    background-color: var(--white-color);
    width: 220px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 4px 16px;
    border-radius: 5px;
    padding: 6px 0px;
}
.option-item {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.option-icon {
    margin-right: 12px;
    font-size: 1.8rem;
}
.text {
    font-size: 1.4rem;
    margin-right: 10px;
}
