.wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    background-color: rgba(22, 24, 35, 0.06);
    overflow: hidden;
}
.small {
    width: 25px;
    height: 25px;
}
.rounded {
    border-radius: 50%;
}
